ul{
    display: flex;
    margin: 20px;
}
li{
    margin: 25px;
    list-style-type:none;
    /* text-underline-offset: none; */

}
a{
    text-decoration: none;
    color: rgb(59, 57, 57);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    
}:hover{
    /* text-decoration: underline; */
    color: blue;
}
