.selectfield{
    text-align: initial;
    width: 100%;

    &_selection{
        padding: 10px 0;
    }
    &_designation{
        padding: 10px 0;
    }
    select{
        margin: 0 9px;
        width: 160px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 7px;
        cursor: pointer;
    }
    option{
        font-size: 20px;
        z-index: 999;
        margin: 10px 10px;
        padding: 0 0;
        list-style: none;
        border: 1px solid #7a0808;
    }
  
    .options li {
        padding: 0 6px;
        margin: 0 0;
        padding: 0 10px;
    }
      
    .options li:hover {
        background-color: #39f;
        color: white;
    }
    .selection ,.designation{
        display: inline-block;
        width: 185px;
    }

}