//Color
$bg-color:rgb(205, 235, 205);
$red-color:red;
$color-green:green;
$color-black:black;
$color-white:white;
$table-background: rgb(186, 187, 187);

//Alignment
$align-center:center;
$width-370:370px;
$width-340:340px;
$border-width:2px;
//flex
$display-flex:flex;

//font
$bold-font:bold;
$font-20:20px;