//Color
$bg-color:rgb(205, 235, 205);
$red-color:#ff0000;
$color-green:#008000;
$color-black:#000000;
$color-white:#ffffff;
$table-background: rgb(186, 187, 187);
$blue-border: rgb(28, 28, 177);

//Alignment
$align-center:center;
$width-370:370px;
$width-340:340px;
$border-width:2px;
//flex
$display-flex:flex;

//font
$bold-font:bold;
$font-20:20px;