body {
    background-color: #f4f5f9;
    font-size: 14px;
}

img {
    max-width: 100%
}

.white-background {
    background-color: white;
}

.blue-color {
    color: #007fb9;
}

.login-background {
    background-color: #015172;
}

.color-white {
    color: white;
}

.blue-background {
    background-color: #007fb9;
}

.icon-color {
    color: #9bd5ee;
}

.background-gray {
    background-color: #333333;
}

.grey-color {
    color: #9c9090;
}

.word-spacing {
    word-spacing: 20px;
}

.column {
    float: left;
}

.col-1 .column {
    width: 100%;
}

.col-2 .column {
    width: 50%;
}

.col-3 .column {
    width: 33.33%;
}

.col-4 .column {
    width: 25%;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

ul.navbar li {
    display: inline-block;
    margin: 6px 0;
}

.navbar li a {
    text-decoration: none;
    padding: 4px;
}

.top-header {
    overflow: hidden;
}

.navbar {
    padding: 0 20px;
    margin-top: 5px;
    height: 22px;
}

.search {
    position: absolute;
    left: 135px;
    top: 14px;
}

.search-text {
    position: relative;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.search-height {
    height: 38px;
}

.button-height {
    height: 44px;
    width: 104px;
}

.navigation {
    padding: 12px;
    border-top: 1px solid #ccc;
}

.navigation a {
    padding: 13px;
    text-decoration: none;
}

.seperator {
    border-top: 5px solid #007fb9;
    width: 150px;
    margin: 30px auto 0px;
}

.f-right {
    float: right;
}

.services {
    padding: 110px 38px;
}

.font-22 {
    font-weight: bold;
    font-size: 22px;
}

.more-doctor {
    padding: 30px;
}

.slider {
    margin: 29px 117px 83px 90px;
}

.dakota-members {
    padding: 600px 90px 250px;
}

.grey-background {
    border: 1px solid rgb(230, 230, 230);
    box-sizing: border-box;
    background-color: #f4f5f9;
}

.padding-bottom {
    padding-bottom: 90px;
}

.padding-right-left {
    padding: 0 95px;
}

.font-46 {
    font-size: 46px;
}

.margin-top {
    margin-top: 4.5px;
}

.top {
    margin-top: 0;
}

.font8-5 {
    font-size: 8.5px;
}

.font-11 {
    font-size: 11px;
}

.bottom {
    margin-bottom: 1px;
}

.table {
    margin: 10px 0;
}

.button1 {
    border: none;
    padding: 10px 25px;
    margin: 4px 2px;
}

.vertical-line {
    border-left: 2px solid black;
    height: 65px;
    padding-right: 17px;
}

.contact {
    display: flex;
    margin: 6px 217px;
}

.num {
    padding: 1px 12px;
}

.text-left {
    padding-top: 50px;
    margin-left: 400px;
}

.footer {
    padding-bottom: 20px;
}

.padding0px {
    padding: 0;
}

.margin0px {
    margin: 0;
}

.table-height {
    height: 165px;
}